body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: #222;
    height: 100vh;
}
p{
    height: 300px;
    width: 300px;
    position: relative;
    animation: effect 8s linear infinite;
}

@keyframes effect {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
span{
    position: absolute;
    left: 50%;
    transform-origin: 0px 150px;
    transform-style: flat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
}